/*main-block*/
.main-block  .container-fluid .row{
  width: 100%;
  text-align: center;
  
}

.main-block .container-fluid .row .logo img{
  width: 50%;
}

.main-block .container-fluid .row .language .form-control{
  width: 50px;
}

.main-block .container-fluid .row .language .form-control-language select{
  width: 350px;
  height: 350px;
  
}

.main-block .block-description .slider img{
  width: 100%;
} 

.main-block .container-fluid .row .main-menu .list-inline li{
  padding: 0;
  margin: 0;
}
.main-block .header-for-big-screen{
    margin: 10px 0 0 0;
  }

 /*for all*/
.main-block .block-description, .portfolio, .contact{
  margin: 0 15% 0 15%;
}

/*portfolio*/
.portfolio h2{
  margin: 1% 0 3% 0;
}

.portfolio .container .row div{
  margin: 0 1% 1% 1%;
  height: 100px;
  background-color: grey;
}

.portfolio .learn-more{
  text-align: center;
}

.portfolio .learn-more p{
  display: inline-block;
}

/*contact*/

.contact h2{
  margin: 1% 0 3% 0;
}
.contact .container .row input, textarea{
  margin: 0 1% 1% 1%;
  height: 50px;
  border: solid 1px grey;
}
.contact .container .row .mymsg{
  height: 150px;
  }

/*footer*/

footer{
  text-align: center;
  background-color: #6495ED;
}

footer .social{
  margin: 0;
}

/*slide*/

.main-block .block-description .container .row .slider {
  width: 50%;
  margin: 100px auto;
}




/*media*/


@media (min-width: 936px) { 
    .mobile-header{
      display: none;
    }
}

@media (max-width: 938px) { 
  .main-block .header-for-big-screen .container-fluid .row .main-menu a, .button-contact-us .btn, .button-contact-us .btn i{
    font-size: 80%;
  }
  
  .main-block .mobile-header{
      display: none;
    }
}

@media (max-width: 821px) { 
  .main-block .header-for-big-screen .container-fluid .row .main-menu a, .button-contact-us .btn, .button-contact-us .btn i{
    font-size: 70%;
  }
}

@media (max-width: 767.98px) { 

  .main-block .block-description .container .row .slider {
    display: none;
  }

  .main-block .header-for-big-screen{
    display: none;
  }
  
  .main-block .mobile-header{
    display: block;
  }

  .portfolio .container-fluid .row h2{
    margin-top: 30px;
  }

  .menu-burger .menu a{
    display: block;
  }

  .logo{
    text-align: right;
    margin: 10px;
  }

  .menu-burger{
    
    text-align: left;
    margin: 10px;
  }

  .mobile-header{
    margin: 0 15% 0 15%;
  }

  .logo img{
    width: 30%;
  }

  #burger i{
    font-size: 25px;
  }
  


}



.anvisible{
  display: none
}






